html {
  --bg: #f5f6f7;
  --color-text: #4f4e4e;
  --cl-icon: #ffffff;
  --cl-org: #ff6a00;
  --cl-sdw: -4px -2px 4px 0px #ffffff,
                  4px 2px 6px 0px #DFE4EA;
  --cl-org-sdw: -3px -3px 10px rgba(255, 106, 0, 0.966),
                  3px 3px 15px rgba(0,0,0,0.5);
  --cl-inset-sdw: inset -2px -2px 6px rgba(255,255,255,0.8),
                      inset 2px 2px 6px rgba(0,0,0,0.1);
  --clr-equal-sdw: -2px -2px 6px rgb(3, 169, 244, 0.01),
                      2px 2px 6px rgba(0,0,0,0.3);
  --cl-equal-inset-sdw: inset -2px -2px 6px rgba(255, 106, 0,0.5),
                          inset 2px 2px 6px rgba(0,0,0,0.3);
}

html[data-theme=dark] {
  --bg: #131419;
  --color-text: #6f6b6b;
  --cl-icon: #ffffff;
  --cl-org: #ff6a00;
  --cl-sdw: -3px -3px 10px rgba(255,255,255,0.05),
                  3px 3px 15px rgba(0,0,0,0.5);
  --cl-inset-sdw: inset -2px -2px 6px rgba(255,255,255,0.01),
                      inset 2px 2px 6px rgba(0,0,0,0.8);
  --cl-equal-sdw: -2px -2px 6px rgb(3, 169, 244, 0.01),
                          2px 2px 6px rgba(0,0,0,0.8);
  --cl-equal-inset-sdw: inset -2px -2px 6px rgba(255, 106, 0,0.2),
                              inset 2px 2px 6px rgba(0,0,0,0.5);
}

body {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100vw;
  justify-content: center;
  background: var(--bg);
  color: var(--color-text);
  transition: 1s ease-in-out;
}

header,
nav,
main,
section,
aside,
footer {
  display: flex;
  width: 100vw;
  font-size: 16px;
  font-weight: 600;
}

a {
  text-decoration: none;
  overflow: hidden;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
}

header {
  height: 6vh;
  flex: 1 1 100vw;
  background: var(--cl-org);
  justify-content: center;
  align-items: center;
}

#Menu {
  display: none;
  max-width: 120px;
  height: 30%;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: var(--cl-org);
  border-radius: 10px;
  left: 0;
  top: 0;
}

.hamburger {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 38px;
  justify-content: center;
  align-items: center;
  color: var(--cl-icon);
  text-decoration: none;
  border-radius: 50%;
  left: 5px;
  top: 1;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
  box-shadow: var(--cl-sdw);
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
  box-shadow: var(--cl-sdw);
}

#project {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
  box-shadow: var(--cl-sdw);
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: var(--cl-sdw);
}

footer {
  flex: 1 1 100vw;
}

#BottomBar {
  display: none;
  position: fixed;
  bottom: 0;
  align-items: center;
  height: 5vh;
  background: var(--cl-org);
}

#BottomBar ul {
  display: flex;
  width: 100vw;
  height: 5vh;
  justify-content: space-around;
  flex-wrap: wrap;
}

#BottomBar li {
  display: flex;
  align-items: center;
  border-radius: 30px;
}

#BottomBar a {
  display: flex;
  width: 40px;
  height: 40px;
  font-size: 28px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: var(--cl-org);
  color: var(--cl-icon);
  border-radius: 50%;
  transition: all 0.3s ease;
}

#BottomBar a:hover {
  transform: translateY(-10px) scale(1.1);
}

@media screen and (max-width: 760px){
  #Menu {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  #BottomBar {
    display: flex;
  }
}