:root {
    --bg: #2d2d2d;
    --bgh: #2c2c2c;
    --bgf: #1b1b1b;
    --elm: #fbfbfb;
    --txt: #dddddd;
    --icn: #676767;
    --sdw: #323232;
}

::-webkit-scrollbar {
    background-color: var(--bgh);
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--txt);
    border: 2px solid var(--bgh);
    border-radius: 4px;
}

::-webkit-scrollbar-button {
    background-color: var(--bgh);
}

body {
    display: flex;
    flex: 1 1 100vw;
    flex-wrap: wrap;
    place-items: center;
    background: var(--bg);
    /*overflow: hidden;*/
}

header,
nav,
nav ul,
nav li,
nav a,
.menu,
#theme,
#theme .icon,
.links,
.icons,
#cv,
main,
.slider,
.subtitle,
aside,
footer {
    display: flex;
}

header {
    flex: 1 1 100vw;
    height: 7.5vh;
    align-items: center;
    background: var(--bgh);
    box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.05),
    3px 3px 15px rgba(0, 0, 0, 0.5);
    z-index: 3;
}

h1 {
    color: var(--txt);
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.3rem;
    text-align: center;
    margin: 0 1.5rem 0 3rem;
    cursor: default;
}

nav {
    width: 98%;
    justify-content: end;
}

nav ul {
    width: 98%;
    align-items: center;
    justify-content: flex-end;
}

.menu li {
    margin: 0 1.5rem;
}

.menu li a {
    align-items: center;
    transition: 200ms ease-in-out;
}

.menu a:hover {
    color: var(--txt);
}

#theme {
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    color: var(--icn);
    background: transparent;
    border: none;
    border-radius: 50%;
    margin: 0 3rem 0 1.5rem;
    cursor: pointer;
}

#theme .moon {
    position: absolute;
    font-size: 1.6rem;
    border-radius: 50%;
}

#theme .sunny {
    position: absolute;
    font-size: 1.6rem;
    border-radius: 50%;
}

#theme:hover {
    color: orange;
}

.links {
    justify-content: center;

}

.icons {
    font-size: 1.6rem;
    margin-right: .3rem;
}

#cv {
    width: 18vw;
    height: 28px;
    align-items: center;
    justify-content: center;
    color: var(--bg);
    background-color: var(--elm);
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: .95rem;
    border: none;
    border-radius: .8rem;
    margin: 0 1.5rem;
    cursor: pointer;
}

main {
    flex: 1 1 100vw;
    flex-direction: column;
    position: relative;
}

.slider {
    width: auto;
    height: 80%;
}

.item {
    width: 100%;
    height: 600px;
    list-style-type: none;
    background-position: center;
    background-size: cover;
    opacity: 1;

    &:nth-child(1) {
        transform: none;
        border-radius: 0;
        box-shadow: none;
        opacity: 1;
    }

    &:nth-child(2) {
        display: none;
    }

    &:nth-child(3) {
        display: none;
    }

    &:nth-child(4) {
        display: none;
    }

    &:nth-child(5) {
        display: none;
    }

    &:nth-child(6) {
        display: none;
    }

    /*
    &:nth-child(2) {
        width: 100%;
        height: 500px;
        transform: none;
        border-radius: 0;
        box-shadow: none;
        opacity: 1;
        }*/

    & .contente {
        display: block;
        width: 35%;
        top: 20%;
        left: 7.4rem;
        position: absolute;
        color: white;
        text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
        opacity: 1;
        z-index: 2;
    }

    & .title {
        font-family: "Inter";
        font-size: 1.6rem;
        font-weight: bolder;
        text-transform: uppercase;
    }

    & .description {
        line-height: 1.3;
        margin: 1rem 0 1.5rem;
        font-size: 1rem;
        font-weight: 600;
    }

    & button {
        width: fit-content;
        background: var(--elm);
        font-family: "Inter";
        font-size: .9rem;
        font-weight: 600;
        border: 2px solid white;
        border-radius: .8rem;
        padding: .35rem .75rem;
        cursor: pointer;
    }
}

.line {
    position: absolute;
    width: 100%;
    height: 600px;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 1;
    user-select: none;

    & .btn {
        transition: 400ms;
        opacity: 0;
    }
}

.line:hover {
    & .btn {
        padding: 1rem;
        border-radius: 40%;
        background-color: var(--txt);
        margin: 0 2.5rem;
        color: none;
        cursor: pointer;
        opacity: .5;
    }
}

.subtitle {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4.2rem;

    & h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 14px;
    }

    & .phrase {
        margin-bottom: 4%;
    }
}

#about {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

#browser {
    display: none;
}

#browser ul {
    display: none;
}

h1,
h2,
h3 {
    color: var(--elm);
}

p {
    color: var(--txt);
    font-family: "Inter", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    color: var(--icn);
    font-family: "Inter", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

footer {
    width: 100%;
    height: 100px;
    background-color: var(--bgf);
    justify-content: space-evenly;
}

.listEnd {
    margin-top: 4rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    body,
    #browser,
    #browser ul,
    #browser li {
        display: flex;
    }

    #browser {
        width: 30px;
        height: 100vh;
        right: 0;
        bottom: 0;
        position: fixed;
        align-items: center;
        justify-content: center;
        background: var(--sdw);
    }

    #browser ul {
        width: 30px;
        height: 100vh;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    #browser li {
        width: 25px;
        height: 25px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    #browser a {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 767px) {

    body,
    header,
    #browser,
    #browser ul,
    #browser li,
    #browser a {
        display: flex;
    }

    body {
        position: fixed;
        justify-content: center;
        background: var(--bg);
    }

    #browser {
        width: 100vw;
        height: 30px;
        left: 0;
        right: 0;
        bottom: 1px;
        align-items: center;
        justify-content: center;
        position: fixed;
        background: var(--sdw);
    }

    #browser ul {
        width: 100vw;
        height: 30px;
        justify-content: space-evenly;
        align-items: center;
    }

    #browser li {
        width: 25px;
        height: 25px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    #browser a {
        font-size: 20px;
        border-radius: 50%;
    }
}