:root {
    --bg: #2d2d2d;
    --bgh: #2c2c2c;
    --bgb: #2a2a2a;
    --bgf: #181818;
    --elm: #fbfbfb;
    --txt: #dddddd;
    --icn: #676767;
    --sdw: #323232;
}

::-webkit-scrollbar {
    background-color: var(--bgh);
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--txt);
    border: 2px solid var(--bgh);
    border-radius: 4px;
}

body {
    display: grid;
    flex: 1 1 100vw;
    place-items: center;
    background: var(--bg);
    overflow-x: hidden;
}

header,
nav,
nav ul,
nav li,
nav a,
.menu,
#theme,
#theme .icon,
.links,
.icons,
#cv,
main,
.slider,
.subtitle,
.about,
.projects,
.service,
.content,
aside,
footer,
.listEnd {
    display: flex;
}

header {
    width: 100vw;
    align-items: center;
    position: fixed;
    left: 0;
    justify-content: space-between;
    background: var(--bgh);
    box-shadow: -5px -3px 10px rgba(255, 255, 255, 0.05),
        -5px 3px 15px rgba(0, 0, 0, 0.5);
    top: 0;
    padding: 0 1em 0 1rem;
    z-index: 5;

    & nav {
        padding: .8em 0;
        justify-content: center;
        
        & ul {
            align-items: center;
            justify-content: center;
        }
    }
}

h1 {
    color: var(--txt);
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.3rem;
    text-align: center;
    cursor: default;
    transition: 200ms ease-in-out;
}

.menu li a {
    font-size: 1.1em;
    align-items: center;
    padding: 0 1rem;
    transition: 200ms ease-in-out;
}

.menu a:hover {
    color: var(--txt);
}

#theme {
    width: 2vw;
    height: 28px;
    align-items: center;
    justify-content: center;
    color: var(--icn);
    background: transparent;
    border: none;
    padding-right: 1rem;
    border-radius: 50%;
    transition: .4s;
    cursor: pointer;

    & .moon {
        position: absolute;
        font-size: 1.7rem;
        border-radius: 50%;
        transition: .5s;
    }

    & .sunny {
        position: absolute;
        font-size: 0;
        border-radius: 50%;
        transition: .5s;
    }
}

#theme:hover {
    & .moon {
        transform: rotate(0.75turn);
        opacity: 0;
    }

    & .sunny {
        color: var(--txt);
        font-size: 1.6rem;
        transform: rotateZ(-0.5turn);
    }
}

.links {
    justify-content: center;
}

.icons {
    font-size: 1.6rem;
    margin-right: .3rem;
}

#cv {
    width: 10vw;
    height: 28px;
    align-items: center;
    justify-content: center;
    font-size: .95rem;
    background-color: var(--elm);
    border: none;
    border-radius: .7rem;
    margin: 0 1.5rem;
    cursor: pointer;
    transition: 200ms ease-in-out;

    & .down {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        color: var(--bg);
        transition: 300ms ease-in-out;
    }

    & .icon {
        display: flex;
        font-size: 0;
        transform: translateY(-20px);
    }
}

#cv:hover {
    font-size: 0;
    
    & .icon {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 1.6rem;
        transform: translateY(0);
        transition: 300ms ease-in-out;
    }
}

main {
    width: 100vw;
    flex-direction: column;
    position: relative;
    text-align: center;
    padding-top: 2.5rem;
}

#homeCarousel {
    position: relative;
    width: 100vw;
    height: 80vh;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.item {
    width: 200px;
    height: 300px;
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

    &:nth-child(1),
    &:nth-child(2) {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: none;
        border-radius: 0;
        box-shadow: none;
        opacity: 1;
    }
    
    &:nth-child(3) {
        left: 50%;
    }
    
    &:nth-child(4) {
        left: calc(50% + 220px);
    }
    
    &:nth-child(5) {
        left: calc(50% + 440px);
    }
    
    &:nth-child(6) {
        left: calc(50% + 660px);
        opacity: 0;
    }
}

.content {
    width: min(30vw, 400px);
    position: absolute;
    top: 50%;
    left: 8rem;
    transform: translateY(-50%);
    font: 400 0.85rem helvetica, sans-serif;
    color: white;
    text-align: start;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: none;
    
    & .title {
        font-family: 'arial-black';
        text-transform: uppercase;
    }
    
    & .description {
        line-height: 1.7;
        margin: 1rem 0 1.5rem;
        font-size: 0.8rem;
    }
    
    & button {
        width: fit-content;
        background-color: var(--elm);
        color: rgb(23, 23, 23);
        font-weight: bold;
        border: none;
        border-radius: .7rem;
        padding: 0.75rem;
        cursor: pointer;
        z-index: 1;
        
    }
    & button:hover {
        background-color: var(--txt);
    }
}

.item:nth-of-type(2) .content {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
    0% {
        filter: blur(5px);
        transform: translateY(calc(-50% + 75px));
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}

#rail {
    display: flex;
    width: 100%;
    height: 80vh;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem 0;
    z-index: 4;
    user-select: none;
    
    & .btn {
        opacity: 0.5;
        color: transparent;
        transition: 300ms;
    }
    &:hover {
        & .btn {
            background-color: var(--txt);
            color: rgba(0, 0, 0, 0.7);
            margin: 0 0.25rem;
            padding: 0.90rem;
            border-radius: 1rem;
            cursor: pointer;
            
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.subtitle {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4.2rem;
    
    & h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.4rem;
        font-weight: bold;
    }
    
    & .phrase {
        padding: 2em 0 6em;
    }
}

.about {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 3rem;
    border-radius: 1rem;
    margin: 2rem 2.5rem 4rem;
    background: var(--bgb);

    & .contenty {

    }

    .box p {
        padding: 0;
    }
}

.projects {
    flex-direction: column;
    align-items: center;
    padding: 0 0 3rem;
    border-radius: 1rem;
    margin: 2rem 2.5rem 4rem;
    background: var(--bgb);
}

.service {
    flex-direction: column;
    align-items: center;
    padding: 0 0 3rem;
    border-radius: 1rem;
    margin: 2em 2.5rem 4rem;
    background: var(--bgb);
}

.box {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

#navigation {
    display: none;
}

h1,
h2,
h3 {
    color: var(--elm);
}

p {
    color: var(--txt);
    font-family: "Inter", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 3rem 1rem;
}

a {
    color: var(--icn);
    font-family: "Inter", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

aside {
    display: none;
    width: 30vw;
    height: 91.5vh;
    position: fixed;
    background-color: black;
    border-radius: 1rem;
    left: 2px;
    bottom: 4px;
    z-index: 3;
    
    & #open {
        display: block;
        position: absolute;
        height: 20px;
    }
    
    & .contente {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60px;
        bottom: 1rem;
    }
    
    & .img {
        display: flex;
        width: 40px;
        height: 40px;
        background-color: red;
        border-radius: .8rem;
        cursor: pointer;
    }
    
    & #file {
        display: none;
    }
    
    & #alpha {
        display: flex;
        width: 20vw;
        height: 40px;
        border: none;
        border-radius: .8rem;
        margin: 0 .8rem;
    }
    
    & #enter {
        display: flex;
        width: 50px;
        height: 40px;
        border: none;
        border-radius: .8rem;
    }
}

footer {
    display: flex;
    width: 100%;
    background: var(--bgf);
    padding: 4rem 0 2rem;
    
    & .listEnd {
        flex-direction: column;
        color: var(--txt);
        padding: 0 3rem 2rem;
    }
    
    & #Copyright {
        border-top: 2px solid var(--elm);
        padding: 1rem 3rem 0;
    }
    
    & p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: .9rem;
        font-weight: 500;
        padding: 0;
    }
    
    & .a {
        padding-right: 6px;
    }
}

@media (width > 900px) and (width < 1024px) {
    h1 {
        font-size: 1.1rem;
    }
    
    .menu ul li a {
        font-size: 1rem;
        padding: 0 .8rem;
    }

    .icons {
        font-size: 1.4rem;
        margin-right: .2rem;
    }
    
    #theme{
        & .moon {
            font-size: 1.5rem;
        }
    }
    
    #cv {
        height: 26px;
        margin: 0 1.3rem;
        font-size: .80rem;
    }
}

@media (width > 650px) and (width < 900px) {
    header {
        justify-content: center;
    }
    
    h1 {
        font-size: 1.1rem;
    }
    
    .menu ul li a {
        font-size: 1rem;
        padding: 0 .7rem;
    }
    
    .icons {
        font-size: 1.4rem;
        margin-right: .2rem;
    }
    
    #theme{
        & .moon {
            font-size: 1.4rem;
        }
    }
    
    #cv {
        height: 26px;
        margin: 0 1rem;
        font-size: .80rem;
    }

    .content {
        left: 5rem;

        & .title {font-size: 1rem;}

        & .description {font-size: 0.7rem;}

        & button {font-size: 0.7rem;}
    }

    .item {
        width: 160px;
        height: 270px;

        &:nth-child(3) {
            left: 50%;
        }

        &:nth-child(4) {
            left: calc(50% + 170px);
        }

        &:nth-child(5) {
            left: calc(50% + 340px);
        }

        &:nth-child(6) {
            left: calc(50% + 510px);
            opacity: 0;
        }
    }

    #rail {
        padding: 0 1rem 0;
    }
}

@media (width < 650px) {
    .content {
        left: 2rem;

        & .title {
            font-size: 0.9rem;
        }

        & .description {
            font-size: 0.65rem;
        }

        & button {
            font-size: 0.7rem;
        }
    }

    .item {
        width: 160px;
        height: 220px;

        &:nth-child(3) {
            left: 50%;
        }

        &:nth-child(4) {
            left: calc(50% + 130px);
        }

        &:nth-child(5) {
            left: calc(50% + 240px);
        }

        &:nth-child(6) {
            left: calc(40% + 420px);
            opacity: 0;
        }
    }

    #rail {
        align-items: end;
    }
}

@media screen and (max-width: 767px) {

    #navigation,
    #navigation ul,
    #navigation li,
    #navigation a {
        display: flex;
    }

    body {
        position: fixed;
        justify-content: center;
        background: var(--bg);
    }

    #navigation {
        width: 100vw;
        height: 30px;
        left: 0;
        right: 0;
        bottom: 1px;
        align-items: center;
        justify-content: center;
        position: fixed;
        background: var(--sdw);
    }

    #navigation ul {
        width: 100vw;
        height: 30px;
        justify-content: space-evenly;
        align-items: center;
    }

    #navigation li {
        width: 25px;
        height: 25px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    #navigation a {
        font-size: 20px;
        border-radius: 50%;
    }
}